@{
    ViewBag.Title = "Callback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Callback</h2>
<input type="hidden" value="@ViewBag.token" id="OAuthToken" />
<script>
	var s = $("#OAuthToken").val();
	localStorage.setItem("OAuthToken", s);
	document.location = "/Home/Dashboard/"
</script>