@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div id="nameOnly">
<span data-bind="text: name"></span><br />
<img data-bind="attr: {src: avatar}" />
</div>

<select data-bind="foreach: orgs" id="orgsSelect">
<option data-bind="text: login"></option>
</select>

<select data-bind="foreach: repos" id="reposSelect" style="display:none">
<option data-bind="text: name"></option>
</select>
<a href="#" id="GetIssues">Get Issues</a>


<div id="openIssuesDiv" style="display:none">
    <h2>Open Issues <span data-bind="text: openIssuesCount"></span></h2>
    <ul>
	<li>Opened Last 7 Days: <span data-bind="text: last7days"></span> </li>
	<li>Active Last 7 Days: <span data-bind="text: activitylast7Days"></span> </li>
	<li>Opened Last 30 Days: <span data-bind="text: last30days "></span></li>
    </ul> </div>
<div id="closedIssuesDiv" style="display:none">
    <h2>Closed Issues <span data-bind="text: closedCount"></span></h2>
    <ul>
	<li>Closed Last 7 Days: <span data-bind="text: last7days"></span> </li>
	<li>Closed Last 30 Days: <span data-bind="text: last30days "></span></li>
    </ul> </div>


</script>
<script src="@Url.Content("~/Scripts/knockout-2.0.0.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.linq.js")"></script>
<script src="@Url.Content("~/Scripts/Home.Dashboard.js")"></script>
