@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Log In", "authorize", "oauth");
@System.Configuration.ConfigurationSettings.AppSettings["Test"]